body {
    background: black;
    color: white;
}
h1 {
    color: red;
}
h3 {
    text-decoration: underline;
}
nav {
    display: flex;
    flex-direction: column;
}
ul {
    outline: red solid 2px;
    font-size: 15px;
}